# Игнорировать файлы, созданные IDE
.vscode/
.idea/

# Игнорировать файлы миграций Django
*.pyc
*/migrations/*
db.sqlite3

# Игнорировать файлы окружения
.env

# Игнорировать файлы, созданные тестами
.coverage
htmlcov/

# Игнорировать файлы, созданные системой
__pycache__/
*.py[cod]

# Игнорировать файлы локализации
*.mo
*.pot

# Игнорировать файлы, созданные веб-сервером
staticfiles/
media/